<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="stylesheet" href="bootstrap.css"/>
    <link rel="stylesheet" href="bootstrap-theme.css">
    <link rel="stylesheet" href="ng-grid.min.css">
    <link href="jumbotron-narrow.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="style.css">
    <script src="angular.min.js"></script>
    <script src="jquery-1.11.1.min.js"></script>
    <script src="ng-grid-2.0.11.min.js"></script>
    <title>Demo4</title>
    <script>

        var app = angular.module("demo4App", []);
        app.controller("Ctrl", function ($scope) {

            $scope.audioPid = "23340144D2AF4C24100001622";
            $scope.videoPid = "0NfLqPEeS3S9XNRvzxD19A";

            $scope.playAudio = function (pid) {
                $scope.audioUrl = 'http://172.16.1.239:9000/play/audioUrl/' + pid;
                document.getElementById("audioPlayer").src = $scope.audioUrl;
            };

            $scope.playVideo = function (pid) {
                $scope.videoUrl = 'http://172.16.1.239:9000/play/videoUrl/' + pid;
                document.getElementById("videoPlayer").src = $scope.videoUrl;
            }
        });

    </script>
</head>
<body>
<div class="container" ng-app="demo4App">
    <div class="page-header" ng-controller="Ctrl">
        <h1>Demo 4 與客戶的業務系統軟體做整合
            <small></small>
        </h1>

        <div class="panel panel-info">
            <div class="panel-heading">xxxxxx系統~客戶接觸歷程</div>
            <div class="panel-body">
                <p>客戶姓名: 張志明</p>

                <p>去電時間: 2014/xx/xx</p>

                <p>去電理由: 客戶挽留</p>

                <p>內容摘要: bla bla</p>
            </div>
        </div>
        <form role="form">
            <div class="form-group">
                <label for="inputPid">PID</label>
                <input type="text" class="form-control" id="inputPid"
                       placeholder="PID"
                       ng-model="audioPid">
            </div>
            <button type="button" class="btn btn-primary" ng-click="playAudio(audioPid)">Audio</button>
            <div ng-show="0 < audioUrl.length">
                <h4>
                    <audio id="audioPlayer"
                           controls
                           preload="auto"/>
                </h4>
                <br/>
            <pre>&lt;audio src=&quot;http://172.16.1.226:9000/play/audioUrl/{{audioPid}}&quot;
            controls preload=&quot;auto&quot;/&gt;</pre>
            </div>
            <br/>
            <br/>

            <div class="form-group">
                <label for="inputVideoPid">PID</label>
                <input type="text" class="form-control" id="inputVideoPid"
                       placeholder="PID"
                       ng-model="videoPid">
            </div>

            <button type="button" class="btn btn-primary" ng-click="playVideo(videoPid)">Video</button>
            <div ng-show="0 < videoUrl.length">
                <h4>
                    <video id="videoPlayer"
                           controls
                           preload="auto"/>
                </h4>
                <br/>
            <pre>&lt;audio src=&quot;http://172.16.1.226:9000/play/videoUrl/{{videoPid}}&quot;
            controls preload=&quot;auto&quot;/&gt;</pre>
            </div>
        </form>


    </div>
</div>
</body>
</html>